# **Data Types and Structures Questions**

1. **What are data structures, and why are they important ?**
--> Data structures are specialized formats for organizing, storing, and accessing collections of data.they are important because they help in conserve memory usage and simplify data mainipulation.
2. **Explain the difference between mutable and immutable data types with examples ?**
--> we can change the original data in object in case of mutable data type while we cannot change the original data in object in case of immutable data type.
example= li=[1,2,3]
        t=(1,2,3)
        li[0]=10 does not gives error
        t[0]=10  gives an error
3. **What are the main differences between lists and tuples in Python ?**
--> lists is a mutable datatype where tuples is a immutable data type.  

4. **Describe how dictionaries store data?**
-->Dictionaries are the Unordered collections in which Elements are not stored in a specific order.dictionaries store the data in keys and values pair.

5. **Why might you use a set instead of a list in Python ?**
--> Set is generally used when we do not want to store the duplicate values in the object.

6. **What is a string in Python, and how is it different from a list ?**
--> In Python, a string is a sequence of characters.Strings are immutable once created, we can't change a character in place while list are mutable we can change any items  after created.
7. **How do tuples ensure data integrity in Python ?**
--> tuple is a immutable data type so that it ensures the data integrity.

8. **What is a hash table, and how does it relate to dictionaries in Python ?**
--> A hash table is a data structure that stores key-value pairs and uses a hashing function to compute an index (also called a "hash code") into an array of slots.
9. **Can lists contain different data types in Python ?**
--> Yes, lists contain different data types in python.
10. **Explain why strings are immutable in Python ?**
-->String are immutable because once the string is created we cannot change the charcter in place.
11. **What advantages do dictionaries offer over lists for certain tasks ?**
--> Dictionaries offer certain advantages over lists like key based access means we can access directly with the key no need to remember index value or sequence of data.lookup speed(searching) is better than lists.
12. **How do sets handle duplicate values in Python ?**
--> Sets removes the duplicate values in python.
13. **Describe a scenario where using a tuple would be preferable over a list ?**
--> tuple is preferable   over a list when if we want to ensures the data integrity.
14. **How does the “in” keyword work differently for lists and dictionaries ?**
--> For lists it checks whether value exists or not in the list while in case of dictionaries it checks the whether key exits or not.
15. **Can you modify the elements of a tuple? Explain why or why not ?**
-->No,we cannot modify the elements in the tuple because it is a immutable data type.
16. **What is a nested dictionary, and give an example of its use case ?**
-->A nested dictionary is a dictionary inside another dictionary.It is used when we want to organise the data in heirarchical format.
example-- students = {
    "101": {"name": "Alice", "age": 20, "grade": "A"},
    "102": {"name": "Bob", "age": 22, "grade": "B"},
}
17. **Describe the time complexity of accessing elements in a dictionary ?**
-->Accessing elements in a dictionary is very fast.Time complexity is O(1)(constant time).Fast because Python uses a hash table internally so that It hashes the key and directly jumps to the index in memory.
18. **In what situations are lists preferred over dictionaries ?**
-->list are prefered when the data is just an ordered collection of values.
19. **Why are dictionaries considered unordered, and how does that affect data retrieval ?**
-->dictionaries considered unordered because they are hash-based,not indexed based.we cannot access data through index values.
20. **Explain the difference between a list and a dictionary in terms of data retrieval ?**
--> list uses the index values for data retrieval while dictionary uses keys to retrive values or data.

# Practical **Questions**

1.  Write a code to create a string with your name and print it

In [ ]:
name="Mayank"
print(name)

Mayank

2.  Write a code to find the length of the string "Hello World"

In [ ]:
x="Hello World"
print(len(x))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
x="Python Programming"
x[:3]

'Pyt'

4.  Write a code to convert the string "hello" to uppercase

In [ ]:
ch="hello"
ch.upper()

'HELLO'

5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
str="I like apple"
str.replace("apple","orange")

'I like orange'

6.  Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
l=[1,2,3,4,5]
l

[1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
l=[1,2,3,4]
l.append(10)
l

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
l=[1,2,3,4,5]
l.remove(3)
l

[1, 2, 4, 5]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
l=['a','b','c','d']
l[1]

'b'

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
l=[10,20,30,40,50]
l[::-1]

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
t=(100,200,300)
t

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
t=('red','green','blue','yellow')
t[-2]

'blue'

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
t=(10,20,5,15)
min(t)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
t=("dog",'cat','rabbit')
t.index("cat")

1

 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
t=("apple","peach","kiwi")
"kiwi" in t

True

 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s={'a','b','c'}
s

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
s={1,2,3,4,5}
s.clear()
s

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
s={1,2,3,4}
s.remove(4)
s

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
s1={1,2,3}
s2={3,4,5}
s1.union(s2)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
s1={1,2,3}
s2={2,3,4}
s1.intersection(s2)

{2, 3}

 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dict={
    "name":"Mayank",
    "age":21,
    "city":"Pune"
}
dict

{'name': 'Mayank', 'age': 21, 'city': 'Pune'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
 result.(replaced)

In [ ]:
dict={
    "name":"John",
    "age":25
}
dict.update({"country":"USA"})
dict

{'name': 'John', 'age': 25, 'country': 'USA'}

 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dict={
    "name":"Alice",
    "age":30
}
dict['name']

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dict={
    "name":"Bob",
    "age":22,
    "city":"Newyork"
}
dict.pop("age")
dict

{'name': 'Bob', 'city': 'Newyork'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dict={
    "name":"Alice",
    "city":"Paris"
}
"city" in dict.keys()

True

 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
li=[1,2,3,4,5]
t=(10,20,30,40)
dict={
    "name":"Mayank",
    "city":"Pune"
     }
print(li)
print(t)
print(dict)

[1, 2, 3, 4, 5]
(10, 20, 30, 40)
{'name': 'Mayank', 'city': 'Pune'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the

In [ ]:
li=[67,32,85,21,19]
li.sort()
li

[19, 21, 32, 67, 85]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
li=['hello','good','morning',"John"]
li[3]

'John'

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1={
    "name":"Mayank",
    "age":21,
}
dict2={
    "city":"Pune"
}
dict1.update(dict2)
dict1

{'name': 'Mayank', 'age': 21, 'city': 'Pune'}

30. Write a code to convert a list of strings into a set

In [ ]:
li=['hello','good','morning',"John"]
s={}
s=set(li)
s

{'John', 'good', 'hello', 'morning'}